h1 { 
        color: red;
        background-color: rgba(134, 202, 89, 0.714);
        font-size: 3em;
    }

    .titulo {
        color: blueviolet;
    }
    .item-lista {
        text-decoration: underline;
    }
    #elemento-boa {
        color: fuchsia
    }

    li:first-child {
        color: black;
        transition: 0.3s
    }

    li:first-child:hover {
        color: hotpink;
        transition: o.3s;
    
    }
    div {
        background-color: goldenrod;
        width: 120px;
        border-radius: 10px;
        border: 2px solid brown;
    }

    body {
        background-image: url('images.jpg');
    }
    